.header {
    background-color: #994a00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.header h1 {
    font-size: 1rem;
    color: white;
}

.header a {
    text-decoration: none;
}
