.container {
    margin-bottom: 20px;
}

.input {
    position: relative;
}

.input span {
    position: absolute;
    top: -18px;
    right: 0;
    color: red;
    font-size: 0.8em;
}

.container .sm {
    width: 184px;
}

.md {
    width: 400px;
}

.xl {
    width: 600px;
}
