nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li {
    padding: 1em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(167, 166, 166);
    transition: 0.5s ease;
}

nav ul li a:hover {
    color: rgb(230, 229, 229);
}

nav ul li a.active {
    text-decoration: underline;
    color: #c01919;
}
