.container {
    margin: 10px 0 20px;
    position: relative;
}

.container span {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 0.8em;
}

.sm {
    width: 200px;
}

.md {
    width: 400px;
}

.xl {
    width: 600px;
}
