.container {
    margin: 20px 0;
}

textarea {
    padding: 10px 10px;
}
.textarea {
    position: relative;
}

.textarea span {
    position: absolute;
    top: -18px;
    right: 0;
    color: red;
    font-size: 0.8em;
}

.sm {
    width: 200px;
}

.md {
    width: 400px;
}

.xl {
    width: 600px;
}
