.container {
    padding: 30px;
}

.ingredients {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.ingredients Button {
    position: absolute;
    right: 0;
    bottom: 21px;
}

.h2 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}
