.container {
    padding: 30px;
}

.h2 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
